.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl{
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.col{
  padding:0;
}

.clear{
  clear: both;
}

.menu{
  float: left;
  width: auto;
}

.container{
  float: left;
  width: auto;
}

.container::after{
  clear: both;
}

.alert_overlay {
  position: fixed;
  z-index: 20;
  margin: 1rem;
  right: 0;
  bottom: 0;
  display: inline;
}
.loading_container {
  left: 0;
  top: 0;
  position: fixed;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  background-color: rgba(100, 100, 100, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}


.menu_overlay {
  z-index: 5;
  position: fixed;
}
.menu_open {
  width: 300px
}
.menu_close {
  width: 50px
}
.my-color-primary {
  color: #7E0441;
}
.my-bg-color-primary {
  background-color: #7E0441;
}
.my-btn {
  padding: 8px 20px;
  margin: 8px 20px;
  cursor: pointer;
  border: 2px solid white;
  border-radius: 5px;
  background-color: #7E0441;
  text-align: center;
  color: white;
  font-weight: 600;
}
.my-btn:hover {
  border-color: #7E0441;
  background-color: white;
  color: #7E0441;
}
.my-title {
  padding: 8px 20px;
  margin: 8px 20px;
  background-color: #7E0441;
  font-size: 20px;
  color: white;
  font-weight: bold;
  justify-self: center;
}
.my-form {
  padding: 8px;
  margin: 8px;
  border: 1px solid #7E0441;
  border-radius: 5px;
}
