.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl{
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.image-header{
  height: 250px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.title_presentazione{
  color: #7e0441;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .05em;
  line-height: 1.1;
  font-size: 36px;
  display: block;
  width: 900px;
  text-align: center;
  margin: 30px auto;
  padding-left: 10px;
  padding-right: 10px;
}


.col{
  padding:0;
  max-width: 1300px;
  display: block;
  margin: 0 auto;
  padding: 20px;
}

.clear{
  clear: both;
}

.menu{
  float: left;
  width: auto;
}

.container{
  float: left;
  width: auto;
}

.container::after{
  clear: both;
}

.alert_overlay {
  position: fixed;
  z-index: 20;
  margin: 1rem;
  right: 0;
  bottom: 0;
  display: inline;
}
.loading_container {
  left: 0;
  top: 0;
  position: fixed;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  background-color: rgba(100, 100, 100, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}


.menu_overlay {
  z-index: 5;
  position: fixed;
}
.menu_open {
  width: 300px
}
.menu_close {
  width: 50px
}
.my-color-primary {
  color: #7E0441;
}
.my-bg-color-primary {
  background-color: #7E0441;
}
.my-btn {
  padding: 8px 20px;
  margin: 8px 20px;
  cursor: pointer;
  border: 2px solid white;
  border-radius: 5px;
  background-color: #7E0441;
  text-align: center;
  color: white;
  font-weight: 600;

}

.loginformapage .my-btn{
  width: 100%;
}

.my-btn:hover {
  border-color: #7E0441;
  background-color: white;
  color: #7E0441;
}
.my-title {
  padding: 8px 20px;
  margin: 8px 20px;
  background-color: #7E0441;
  font-size: 20px;
  color: white;
  font-weight: bold;
  justify-self: center;
}
.my-form {
  padding: 8px;
  margin: 8px;
  border: 1px solid #7E0441;
  border-radius: 5px;
}

.fake_spid{
  background-color: #007db3 !important;
  color: #fff !important;
  border: none !important;

}

/*menu*/

.menu{
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
}

.log{
  width: calc(100% - 300px);
  display: block;
  top: 0;
  bottom: 0;
  margin-left: 300px;
  min-height: 680px;
}

/*tabella certificato*/
.dettaglio-certificato .table td,
.dettaglio-certificato .table th{
  border: none;
}

.dettaglio-certificato{
  display: block;
  margin-bottom: 40px;
}

.dettaglio-certificato.nolog{
  margin: 0 auto;
  display: block;
  width: 100%;
  max-width: 100%;
  margin-bottom: 40px;
}

.logo_certificato{
  display: block;
  width: 300px;
  margin: 0 auto;
  padding-bottom: 20px;
  padding-top: 20px;

}

.wrp-certificato .table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
  max-width: 600px;
  margin: 20px auto;
}

.popup-container {
  left: 0;
  top: 0;
  position: fixed;
  z-index: 5;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(100, 100, 100, 0.3);
}

.popup-body {
  width: 300px;
  background-color: #FFF;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #7E0441;
  display: grid;
  text-align: center;
  justify-content: center;
}

.popup-buttons {
  display: inline;
}

.close-popup {
  margin-right: 10px;
  justify-self: end;
  right: 0;
  top: 0;
}