/*main*/
p,a,span,div{
    font-family: 'Titillium Web', sans-serif;
    margin: 0;
}

.row{
    margin: 0;
}

/*header*/
.page-header{
    max-width: 1200px;
    display: block;
    margin: 0 auto;
}
.side{
    float: left;
    padding: 20px;
    box-sizing: border-box;

}

.left-side{
    width: 30%;
    display: flex;
    padding-top: 25px;

}
.right-side{
    width: auto;
    float: right;
}
.clear{
    clear: both ;
}

.logo_uni{
    height: 80px;
    margin-left: 15px;
}

.type_data{
    margin-left: 40px;
}
.n_verde{
    font-size: 21px;
}

.green{
    color: #006837;
    margin-right: 10px;
}

.lang-section{
    font-size: 14px;
}

.lang-section a{
    color: #000;
    margin-right: 10px;
}

.playerrum-btn{
    text-align: right;
    margin-top: 12px;
}

.bottom{
    background-color: #7E0441;
}

.wrp-bottom{
    max-width: 1200px;
    display: block;
    margin: 0 auto;
}

.link-menu{
    height: 74px;
    background-color: #7E0441;
    display: flex;
    width: 70%;
    float: left;
    padding-left: 20px;
    box-sizing: border-box;
}

.link{
    line-height: 79px;
    box-sizing: border-box;
    margin-right: 15px;
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
    letter-spacing: .05em;
}

.link:hover{
    color:#ec9d21 ;
}

.link.active{
    color:#ec9d21 ;
    text-decoration: underline;
}


.search{
    float: right;
    width: 30%;
    height: 74px;
    background-color: #7E0441;
}

.fake_search{
    padding: 8px;
    background-color: #fff;
    color: #000;
    margin-top: 18px;
    margin-right: 20px;
    border-radius: 6px;
    font-size: 14px;
    width: 300px;
    float: right;
    letter-spacing: .05em;

}

/*prefooter*/

.cinquexmille{
    border-bottom: 10px solid #4d4d4d;
    background-color: #f7bf1e;
}

.cinquexmille .container {
    color: #4d4d4d;
    padding: 50px 0;
    background: url(https://www.unimc.it/++theme++unimc-theme/images/footer-5permille.svg);
    background-repeat: no-repeat;
    background-size: 1800px;
    background-position: center;
    width: 100%;
    float: none;
    min-height: 196px;
}

.col-md-4 {
    width: 33.33333333%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}

.cinquexmille .main-section {
    font-size: 26px;
}

/*footer*/

#portal-footer-wrapper{
    background-color: #e9e8ea;
}

#portal-footer{
    float: none;
    width: 100%;

    max-width: 100%;
    height: 450px;
    background:url(https://www.unimc.it/++theme++unimc-theme/images/footer-logo.svg);
    background-repeat: no-repeat;
    background-size: 800px;
    background-position: left center;
}

#portal-footer .row{
    width: 100%;


}

#portal-footer .col-xs-12{
    display: flex;
    width: 100%;
    padding: 10px;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 30px;
}

.portletWrapper{
    display: inline-block;
    width: auto;
    float: left;
    margin-right: 1.4%;
    margin-left: 1.4%;
    padding-left: 10px;
}
.navTree{
    list-style: none;
    position: relative;
    background: transparent;
    border-bottom: none;
    border-top: none;
    color: #4d4d4d !important;
    padding: 2px;
}

.navTreeItem{
    display: list-item;
    padding: 0;
    color: #4d4d4d !important;
    line-height: 1.71429;
    letter-spacing: 0.02em;
}

.navTreeItem a{
    background: transparent;
    border-bottom: none;
    border-top: none;
    color: #4d4d4d !important;
    padding: 2px;
    text-align: left;
    font-size: 14px;
}

.portletEmbed{
    color: #4d4d4d !important;
    padding: 2px;
    text-align: left;
    font-size: 14px;
    line-height: 1.71429;
    letter-spacing: 0.02em;
}

.portletEmbed ul{
    display: list-item;
    padding: 0;
    list-style: none;
    margin-top: 10px;
}

.social_footer_icon{
    display: block;
    margin-right: -10px;
}