p,a,span,div{
    font-family: 'Titillium Web', sans-serif;
    margin: 0;
}
.page-header{
    max-width: 1200px;
    display: block;
    margin: 0 auto;
}
.side{
    float: left;
    padding: 20px;
    box-sizing: border-box;

}

.left-side{
    width: 30%;
    display: flex;
    padding-top: 25px;

}
.right-side{
    width: auto;
    float: right;
}
.clear{
    clear: both ;
}

.logo_uni{
    height: 80px;
    margin-left: 15px;
}

.type_data{
    margin-left: 40px;
}
.n_verde{
    font-size: 21px;
}

.green{
    color: #006837;
    margin-right: 10px;
}

.lang-section{
    font-size: 14px;
}

.lang-section a{
    color: #000;
    margin-right: 10px;
}

.playerrum-btn{
    text-align: right;
    margin-top: 12px;
}

.bottom{
    background-color: #7E0441;
}

.wrp-bottom{
    max-width: 1200px;
    display: block;
    margin: 0 auto;
}

.link-menu{
    height: 74px;
    background-color: #7E0441;
    display: flex;
    width: 70%;
    float: left;
    padding-left: 20px;
    box-sizing: border-box;
}

.link{
    line-height: 79px;
    box-sizing: border-box;
    margin-right: 15px;
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
    letter-spacing: .05em;
}

.link:hover{
    color:#ec9d21 ;
}

.link.active{
    color:#ec9d21 ;
    text-decoration: underline;
}


.search{
    float: right;
    width: 30%;
    height: 74px;
    background-color: #7E0441;
}

.fake_search{
    padding: 8px;
    background-color: #fff;
    color: #000;
    margin-top: 18px;
    margin-right: 20px;
    border-radius: 6px;
    font-size: 14px;
    width: 300px;
    float: right;
    letter-spacing: .05em;

}